.ArticleContent {
  line-height: 1.6;
}

.ArticleContent > :not(:is(img)) {
  padding-inline: var(--gutter);
}

.ArticleContent > * + * {
  margin-block-start: var(--space-4);
}

.ArticleContent :is(h2, h3, h4, h5, h6) {
  position: relative;
}

.ArticleContent * + :is(h2, h3, h4, h5, h6) {
  margin-block-start: 2em;
}

.ArticleContent a {
  border-radius: 2px;
  text-decoration: underline;
}

.ArticleContent .hash {
  text-decoration: none;
}

.ArticleContent .hash::before {
  content: "#";
  font-size: 1.125rem;
  position: absolute;
  height: 100%;
  display: inline-flex;
  align-items: center;
  left: calc(var(--gutter) / 2);
  opacity: 0.5;
  transition: opacity 0.2s;
}

.ArticleContent .hash:hover::before {
  opacity: 1;
}

.ArticleContent :is(ol, ul) {
  list-style-position: inside;
}

.ArticleContent blockquote {
  border-inline-start: 0.25rem solid var(--contrast);
  margin-inline: var(--gutter);
  display: grid;
  gap: var(--space-1);
  padding: var(--space-4) var(--gutter);
  background-color: var(--bg-dim);
}

code:not([class]) {
  box-decoration-break: clone;
  border-radius: 2px;
  padding: var(--space-1);
  font-size: var(--font-1);
  font-family: ui-monospace, monospace;
  background-color: var(--bg-dim);
  box-shadow: inset 0 0 2px var(--border-dim);
}

.Code {
  --code-1: hsl(160, 10%, 42%);
  --code-2: hsl(168, 47%, 34%);
  --code-3: hsl(172, 50%, 24%);
  --code-4: hsl(178, 40%, 14%);
  display: grid;
  gap: var(--space-4);
  padding-block: var(--space-4);
  background-color: var(--bg-dim);
  font-size: var(--font-1);
  line-height: 1.4;
  font-family: ui-monospace, monospace;
  overflow: auto;
  scrollbar-color: var(--text-bright) var(--bg-dim);
  scrollbar-width: thin;
}

@media (prefers-color-scheme: dark) {
  .Code {
    --code-1: var(--shade-7);
    --code-2: var(--shade-6);
    --code-3: var(--shade-4);
    --code-4: var(--shade-3);
  }
}

.Code::-webkit-scrollbar {
  height: var(--space-1);
}

.Code::-webkit-scrollbar-thumb {
  background: var(--text-bright);
  border-radius: 1rem;
}

.Code::-webkit-scrollbar-track {
  background: var(--bg-dim);
}

.CodeFile {
  display: flex;
  gap: var(--space-1);
  align-items: center;
  font-weight: bold;
  color: var(--code-2);
}

pre,
.token {
  font-weight: normal;
  color: var(--code-3);
}

.token:is(.punctuation, .comment) {
  color: var(--code-1);
}

.token:is(.keyword, .unit) {
  color: var(--code-2);
}

.token:is(.key, .property, .attr-value) {
  color: var(--code-4);
}

.token:is(.comment) {
  font-style: italic;
}

.token:is(.function, .tag, .selector) {
  color: var(--code-2);
  font-weight: bold;
}
