.ArticleContent {
  line-height: 1.6;
}

.ArticleContent > :not(:is(pre, img)) {
  padding-inline: var(--gutter);
}

.ArticleContent > * + * {
  margin-top: var(--space-4);
}

.ArticleContent :is(h2, h3, h4, h5, h6) {
  position: relative;
}

.ArticleContent * + :is(h2, h3, h4, h5, h6) {
  margin-top: 2em;
}

.ArticleContent a {
  text-decoration: underline;
}

.ArticleContent .hash {
  text-decoration: none;
}

.ArticleContent .hash::before {
  content: "#";
  font-size: 1.125rem;
  position: absolute;
  height: 100%;
  display: inline-flex;
  align-items: center;
  left: calc(var(--gutter) / 2);
  opacity: 0.33;
  transition: opacity 0.2s;
}

.ArticleContent .hash:hover::before {
  opacity: 1;
}

.ArticleContent :is(ol, ul) {
  list-style-position: inside;
}

code {
  box-decoration-break: clone;
  border-radius: 2px;
  padding: var(--space-1);
  font-size: 0.75rem;
  font-family: ui-monospace, monospace;
  background-color: var(--bg-dim);
}

pre > code {
  display: block;
  padding: var(--space-4) var(--gutter);
  line-height: 1.375;
  background-color: var(--bg-dim);
  overflow: auto;
  scrollbar-color: var(--text-bright) var(--bg-dim);
  scrollbar-width: thin;
}

pre > code::-webkit-scrollbar {
  height: var(--space-1);
}

pre > code::-webkit-scrollbar-thumb {
  background: var(--text-bright);
  border-radius: 1rem;
}

pre > code::-webkit-scrollbar-track {
  background: var(--bg-dim);
}

pre,
.token {
  color: var(--code-3);
}

.token:is(.punctuation, .comment) {
  color: var(--code-1);
}

.token:is(.keyword, .unit) {
  color: var(--code-2);
}

.token:is(.attr-name, .attr-value) {
  font-weight: normal;
}

.token:is(.key, .property, .attr-value) {
  color: var(--code-4);
}

.token:is(.comment) {
  font-style: italic;
}

.token:is(.function, .tag, .selector) {
  color: var(--code-4);
  font-weight: bold;
}
